html
  head
    title= title
  body
    h1= message
        // register form
    form(method='POST' action='/validation')
      div.form-group
        textarea#name.form-control(type='text', placeholder='Each email on new line ' name='email' style={width: '30%', height: '200px'})
      button.btn.btn-primary(type='submit') Check
